.index-banner h1{
	line-height: 72px;
}
.aboutus p,.ecosystem .adv_list p{
	
}
.advantage .card-body p {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    width: 90%;
    margin-top: 1.5rem;
    opacity: .5;
}
.community .title p.txt {
    letter-spacing: 2px;
}
.ecosystem .card-body {
    height: 25rem;
}


@media only screen and (max-width: 1600px) {
	.index-banner h1 {
	    padding-top: 25%;
	    font-size: 54px;
	    line-height: 36px;
		line-height: 64px;
	    text-align: left;
	}

	.index-banner .link-btn {
		margin-top: 0rem;
	}
}

@media only screen and (max-width: 1360px) {
	.index-banner h1 {
	 
	}
}
@media only screen and (max-width: 1024px) {
	.index-banner {
	    background-size: cover;
	}

	.index-banner h1 {
	    padding-top: 30%;
		font-size:45px;
		line-height: 48px;
	}
	.advantage .card-body p {
	    font-size: 12px;
	    line-height: 1.3;
	}
}
@media only screen and (max-width: 768px) {
	.index-banner {
		background-size: cover;
	}

	.index-banner h1 {
		padding-top: 45%;
	}
}
@media only screen and (max-width: 640px) {
	.index-banner h1 {
	    
	}
	.ecosystem .adv-inner .al img {
	    float: left;
	    padding-left: 10%;
	    padding-right: 0%;
	}
}
@media only screen and (max-width: 480px) {
	.index-banner .container {
		text-align: center;
	}

	.index-banner h1 {
		font-size: 45px;
		padding-top: 45%;
		line-height: 45px;
		text-align: center;
		padding-bottom: 40px;
	}
}